 body {background: url("CR Background.png"); background-repeat: no-repeat; background-size:cover; background-attachment: fixed; 
 font-family: 'Freight Sans Black';} 

h1 {
color: #D0BF8D;
text-align: center;
size: 200%;
}




